<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodKart-Buy Health Care at Online at Best Price</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
     
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- icon -->
     <link rel="icon" href="https://assets.lybrate.com/q_auto,f_auto,h_20,w_20/imgs/product/d2d/PatientGoldMembership/lybrate_icon_red_large.png">
     <!--  -->
    <style>
        #exw{
            border-top: 1px solid #E8C9BE;
            border: 10px solid #E8C9BE;
            width:45%;
        display: inline-block;
        background-color: white;
        margin-right: 1%;
        background-color: #E8C9BE;
        }
        #exw>div:nth-child(1){
            padding: 1%;
            background-color: #E8C9BE;
        }
        #goldmemb>div{
            display: inline-block;
            width:49.58%;
            text-align: center;
            font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
           background-color: white;
        }
        #goldmemb>div>img{
            margin-top: 50%;
            width:100%;
            height: 230px;
        }
        #goldmemb>div>p:nth-child(3){
            display: inline-block;
            color: red;
        }
        #goldmemb>div>p:nth-child(4){
            display: inline-block;
            color: black;
            text-decoration: line-through;
        }
        #goldmemb>div>div:nth-child(5){
            margin-bottom: 33%;
        }
    </style>
</head>
<body>
   
    <div id="snav">
       <%-include("_navbar") %>
    </div>
    
    <div id="sub">
   <div class="main">
       <div id="slideshow"></div>
    <div id="ex-best">
        <div id="exw">
            <div>Exclusively for gold Members</div>
            <div id="goldmemb">
                <div >
                    <img src="https://assets.lybrate.com/q_auto,f_auto,w_300,h_300,c_pad,b_white/rio/3M_designs/Product-Images/image_012.webp"/>
                    <p>Fight acne & blemishes!</p>
                    <p>₹99</p>
                    <p>₹599</p>
                    <div></div>
                </div>
                <div class="styleall">
                    <img src="https://th.bing.com/th/id/OIP.mv78T96SJO0LsmMTqK5JKQHaHa?w=219&h=219&c=7&r=0&o=5&dpr=1.25&pid=1.7"/>
                    <p>Lipoherb:Ayurvedic Medicine for wei...</p>
                    <p>₹1</p>
                    <p>₹180</p>
                    <div></div>
                </div>
            </div>
        </div>
        <div id="best">
            <div >Best In Protein & Fitness - Your Workout Buddies</div>
            <div id="bestProduct" class="styleall"></div>
        </div>
        </div>
        <div class="shopNow">
            <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/product_banner_01.jpg"/>
            <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner-COVID-19-Protection-Kit_01.jpg"/>
            <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Fitness-Supplement-Products_02.jpg"/>
        </div>
   <div>
    <div id="ex">
        <div>New Arrival in Kart | Check Now</div>
        <div id="NewArrival" class="styleall"></div>
       </div>
       <div id="best">
           <div>
            Money Saving Deals
           </div>
           <div id="money" class="styleall"></div>
       </div>
   </div>
   <div class="shopNow">
       <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Top-Sexual-Wellness-Products_03.jpg"/>
       <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Top-Multivitamin-Products_04.jpg"/>
       <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Top-Face-Care-Product_05.jpg"/>
   </div>
   <div>
       <div id="ex">
           <div>Sexual Wellness Products - Feel The Pleasure</div>
           <div id="wellProducts" class="styleall"></div>
       </div>
       <div id="best">
           <div>Immunity Boosting Products - Boost Immunity</div>
           <div id="Boosting" class="styleall"></div>
       </div>
    </div>
       <div>
           <div id="ex">
               <div>Best In Weight Management - Achieve Your Fitness Goals</div>
               <div id="Goals" class="styleall"></div>
           </div>
           <div id="best">
               <div>Best In Vitamins & Joint Care - Get Charged</div>
               <div id="Charged" class="styleall"></div>
           </div>
       </div>
   <div class="shopNow">
       <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Top-Baby-Care-Products.jpg"/>
       <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Top-Food-Drink-Products_07.jpg"/>
       <img src="https://assets.lybrate.com/q_auto:low,f_auto,w_600//rio/800x800/banner_Top-Hair-Care-Products_8.jpg"/>
   </div>
   <div>
    <div id="ex">
        <div>Best In Tea & Coffe - Refresh Yourself</div>
        <div id="Tea" class="styleall"></div>
    </div>
    <div id="best">
        <div>Best In Skin & Hair Care | Buy Now</div>
        <div id="skin" class="styleall"></div>
    </div>
</div>
</div>
   <div id="content">
    <div>
        <div><a href="#">Home</a> > GoodKart</div>
        <h3>GoodKart: Buy Health Care and Wellness Products Online</h3>
        <p>GoodKart is Lybrate’s endeavour to deliver the best of the best Health care products at your doorstep. GoodKart brings to you a vibrant mix of health products, 
            both from reputed international brands to local Indian brands. We feel privileged to offer you the convenience to buy these health care products 24*7 from the 
            comfort of your home through GoodKart. Determined to offer a better choice to our citizens, Lybrate is working against all odds for bringing you specially curated 
            top of the line health products. We firmly believe that healthy living starts with a healthy body and a sound mind.</p>
        <p>GoodKart promises to provide a great deal of transparency to its users. To fulfill this endeavor, we have compiled truly remarkable products from reliable manufacturers.
        Most of our health care product ingredients are extracted in a very responsible manner to ensure that all the natural properties remain intact. GoodKart makes it very convenient
        for its users to find the really good stuff. We bring to you the goodness of nature discovered through research. Staying true to our commitment of providing top, trending, recommended, 
        popular, safe, gentle, and effective products infused with the goodness of mother earth, we consistently keep expanding our health care products list, enabling our users to save time & money both.</p>
        <p>At GoodKart, we bring to you not only the natural health care products but also different ayurvedic and herbal products to help you address various health concerns 
                   and issues. Shop health and wellness products online without standing in any queue. Buy health care products safely and securely with great discounts and cashback 
                   offers only at GoodKart.</p>
             <h4>Buy Natural Health Products From Lybrate’s GoodKart</h4>
             <p>As consumers of GoodKart, you can browse health products from a comprehensive assortment of Vitamins and Supplements, Protein & Fitness, Skin & Hair Care, Sexual Wellness, 
                       Weight Management, Food & Drinks, Personal Care and Child Care Products. Not only these wellness products give you exceptional results but they are also extremely 
                       cost-effective due to Lybrate’s unique sourcing model. Today’s aware consumers prefer to know their products in terms of ingredients, sourcing of raw materials, 
                       manufacturer’s goodwill to make informed choices. Such consumer behavior has forced most of today’s manufacturers to come up with ingenious ways of manufacturing 
                       safe and best health care products. This consumerism also has to lead to a lot of companies making false promises to lure more customers and increase revenue.</p>
             <h3>VITAMIN AND SUPPLEMENTS - SAFE, EFFECTIVE & EASY TO CONSUME</h3>
             <p>Managing stress, cleansing your body, nourishing your cells & tissues with all the essential nutrients is key to a healthy & active lifestyle. 
                           High-quality vitamins & supplements are available at GoodKart that provide the necessary nourishment needed to restore your body and bring 
                           about optimal health and positivity. The principle is very simple, the best supplements, honest expert advice, quality service, and incredibly 
                           effective products. We hope we have earned your trust as a health care partner in taking control of your wellness goals.</p>
             <h3>NUTRIENT SUPPLEMENTS</h3>
             <p>Good Health and Wellness depend on a lot of factors such as genetics and environment, however, a lot has to do with 
                               our dietary habits and nutrient intake. The harsh truth is that it is really difficult to consume all the nutrients 
                               we need, due to lifestyle, lack of awareness and regional dietary patterns. We require supplements apart from our 
                               daily food intake to ensure that we are nourished. Here at GoodKart, a variety of vitamins and supplements are available 
                               from which you can choose as per your requirements. We advise you to read the labels of the product descriptions carefully 
                               to ensure that you do not miss out on the most critical ingredients you are looking for.</p>
             <h3>PROTEIN AND FITNESS PRODUCTS FOR SEVERAL FITNESS REGIMENS</h3>
             <p>Goodkart also brings to you some of the most sought after quality Protein & Fitness products which are suitable for 
                                   people from all walks of life, including those on vegan diets, low carbohydrate diets or for those with gastrointestinal 
                                   sensitivities to milk or any other protein sources for that matter. GoodKart aim’s to be a part of your fitness 
                                   journey. GoodKart helps you choose from the widest range of healthy protein and fitness products. Get detailed 
                                   product information such as nutritional content along with when, how and why to use details is provided. This makes 
                                   selecting products easier and convenient. We ensure that our users invest only in authentic natural health products 
                                   to help them achieve their fitness goals.</p>
             <h3>SKIN CARE PRODUCTS FOR HEALTHY SKIN</h3>
             <p>This should not come as a surprise that the Skin and Hair Care beauty market is exploded with tonnes of 
                                   products, both organic & synthetic. GoodKart features an amazing collection of Skincare products that 
                                   make a difference in your lives. We feel proud to be associated with manufacturers who ensure that 
                                   cutting edge therapeutic benefits are delivered to your skin. GoodKart’s users can choose from a variety 
                                   of alternatives for all of their skincare requirements. Most of the Skin and Hair care products available at 
                                   our platform are derived from natural sources, not from a laboratory. So, you get to experience the goodness 
                                   of wholly natural ingredients. Skincare products interact sympathetically with your skin and also carry therapeutic benefits as well.</p>
             <h3>SEXUAL WELLNESS PRODUCTS TO ENHANCE YOUR SEXUAL LIFE</h3>
             <p>Taking care of your sexual health has become simple with online gateways like GoodKart, which has all the sexual wellness 
                                       products under one roof. Every individual has a distinct way to maintain their sexual health. GoodKart is stacked with 
                                       a variety of intimate care products and wellness supplements, which are scientifically proven and safe with absolutely 
                                       no side effects. Most people do not like to talk about intimate hygiene and sexual health care, for the sexual wellbeing 
                                       products, are a blessing in disguise.</p>
             <h3>PICK HERBAL AND NATURAL WEIGHT MANAGEMENT PRODUCTS</h3>
             <p>If you need help in searching for the perfect product and health care brands that can assist you in your weight loss 
                                           and gain journey, then check out GoodKart Weight Management Products to help support recovery from your weight 
                                           training. Choose from an ever-increasing list of weight management products to help you shed those extra kilos 
                                           and fit in your favorite pair of jeans. The natural extracts, herbal ingredients, and the right dosage count for 
                                           giving serious results if you are trying weight loss and gain journey.</p>
             <h3>OPT FOR PICK HEALTHY FOOD AND DRINKS PRODUCTS</h3>
             <p>Due to hectic routine and fast-paced lives, we generally tend to neglect our health. We easily get enticed to sugary food and 
                 caffeinated drinks which harms our health. As a health care platform, we believe that food should be Natural and Organic. 
                 We aim to take steps towards a better and healthier planet. We have Organic Food and Healthy drinks which are good for one’s 
                 health - not a mere convenience. GoodKart brings different health care products at your doorstep. An incredible range of Food 
                 and Drinks are available for every health-conscious family.</p>
             <p>Nutritional drinks offer numerous health benefits to both children and grown-ups. They help in physical and mental development, 
                 improve resistance, sustenance, stamina, and energy by nourishing the body with all the vital nutrients and minerals. Healthy 
                 drinks are immensely useful when you are struggling to manage your daily lack of supplement intake. All these healthy food and 
                 drink products available at Goodkart are best for sudden hunger cravings and as an evening snack.</p>
             <h3>CHECK OUT PERSONAL CARE PRODUCTS FOR OVERALL WELL-BEING</h3>
             <p>You can choose from a wide range of personal health care products online at GoodKart. One-stop avenue for all your essential 
                 personal care needs. We have worked out to perfection on all the relevant yet diverse aspects of bringing personal care 
                 products to our consumers devoid of any harmful chemicals. Right from selecting the ingredients, the processing, the right 
                 storage, and packaging, we pay attention to every minute detail. Most of these health products are vegan and cruelty-free. 
                 They are not tested on animals and do not cause any damage to the environment. Listed personal health care products are also 
                 free of synthetic perfumes, herbicides and pesticides.</p>
             <h3>KEEP YOUR CHILD HEALTHY WITH CHILD CARE PRODUCTS ONLINE</h3>
             <p>Good Health is the foundation of all things good and godly and should be looked after from an early age. Whether it’s bubble 
                 baths or bed snuggles, these everyday rituals with your baby become better if the right senses such as smell and touch are 
                 stimulated. GoodKart has an assortment of Child care products that are 100% gentle and safe for your little one. The most 
                 trusted names in the field of baby care are affiliated with GoodKart. Health care products are clinically proven safe and 
                 have a very gentle formulation. At GoodKart, we only have health products that have purer ingredients and are best for the 
                 delicate skin of your baby.</p>
             <h3>BEST HEALTH CARE AND WELLNESS PRODUCTS AT LYBRATE’S GOODKART</h3>
             <p>At Goodkart, you can buy the best health care supplements online, under one roof for Men, Women, and children. We offer 
                 consumer-friendly prices on health and wellness products online. Shop for natural health products from Goodkart platform 
                 at best prices, get different great Combo deals, discounts, fast shipping, and Lybrate cashback offers. GoodKart offers 
                 you the choice to pick from various health care brands and quality health care products online that can definitely make 
                 a difference when it comes to health fitness and overall well being.</p>
             <h3>GET LYBRATE CASHBACK</h3>
             <p>LybrateCash is your health money at Lybrate. By utilizing LybrateCash, you can pay for your health needs and avail it 
                 for buying healthcare products, booking online specialist consultation and lab tests.</p>
             <ol>
                 <li>One LybrateCash point is equivalent to ₹1.</li>
                 <li>Lybrate is giving 10% cashback as a LybrateCash to its registered users when they buy any product. 
                     The cashback is credited to your LybrateCash account.</li>
                 <li>You can keep a check on the expiry date of the LybrateCash earned by checking your LybrateCash history.</li>
                 <li>You can't transfer this cash to any other financial wallet or to another user.</li>
                 </ol>
             <h3>RETURN AND REFUND POLICY</h3>
             <p>At Lybrate.com, we do our best to ensure that our customers are immensely satisfied with our products. 
                 And we are happy to offer a complete refund in the following circumstances.</p>
             <ol>
                 <li>You received a defective/damaged item(s).</li>
                 <li>Delivered item(s) doesn't match your order.</li>
                 <li>The ordered item(s) is/are lost or damaged during transit.</li>
                 <li>The ordered item(s) is/are beyond its expiry date.</li>
             </ol>
             <h4 style:"font-weight:bold;">Following circumstances do not qualify for Return or Refund.</h4>
             <ol>
                 <li>Return or Refunds are not applicable on products which are ordered incorrectly or by mistake.</li>
                 <li>Return or Refunds are not applicable on products which are not required by the users due to change in prescription.</li>
                 <li>Products without the original label, tag, invoice and bar code are not eligible for returns or refunds.</li>
                 <li>All products which have been used/opened, either partially or fully, do not qualify for return or refund.</li>
                 <li>Return product should have the same batch number as mentioned on the invoice.</li>
                 <li>Non-delivery of product reported after 48 hours of delivery confirmation text message on registered mobile number are not eligible for refund.</li>
             </ol>
             <h3>HOW TO REQUEST A REFUND?</h3>
             <p>To request a refund, simply email us your order details, including the reason why you’re requesting a refund at orders@lybrate.com</p>
             <p><span style="font-weight: bold;">Please Note</span>: Mode of refund may vary from case to case. If the mode of refund is by Credit/Debit Card or Net Banking, allow 7 to 14 
                 working days for the credit to appear in your account. If the mode of refund is by Wallet, credit should be available within 7 to 
                 10 working days.</p>
             <p><span style="font-weight: bold;">Disclaimer</span>: While we ensure that all product information on the platform is complete and accurate, however, we advise you not to 
                 solely rely on this information. It is recommended to refer to the product manual and/or specifications provided by the manufacturer 
                 either on their website or along with the product. This is applicable for all warnings, labels, ingredients and usage directions as well. 
                 The use of any information provided on this platform is solely at the user's risk. Nothing contained on this platform shall be considered 
                 as medical advice. Consumers are advised to contact the manufacturer for any further information and assistance. The results from the products 
                  will vary from person to person, No individual result should be seen as typical.</p>
    </div>
   </div>
    </div>
   <div id="footer">
    <div>
        <!----------------------health products-------------------------------- -->
        <ul  type="none">
            <li>Search Health Products</li>
            <li><a href="Home.html">Goodkart</a></li>
            <li>Vitamin and Supplement</li>
            <li>Protein and Fitness</li>
            <li>Skin and Hair Care</li>
            <li>Sexual Wellness</li>
            <li>Weight Management</li>
            <li>Food and Drink</li>
            <li>Personal Care</li>
            <li>Child Care</li>
            <li>GoodBox</li>
        </ul>
        <!-----------------------------Doctors--------------------------------------------- -->
        <ul type="none">
            <li>Search doctors</li>
            <li>Search doctors by city</li>
            <li>Search doctors by City Locality</li>
            <li>Search doctors by speciality</li>
            <li>Search doctors by city speciality</li>
        </ul>
        <!-- ----------------------------------Health Articles--------------------------------------- -->
        <ul type="none">
            <li>Read Health Articles</li>
            <li>Health Wiki</li>
            <li>Health Tips Index</li>
            <li>Health Questions Index</li>
            <li>Health Quizzes Index</li>
            <li>Health Topics Index</li>
            <li>Medicines Index</li>
            <li>Ailment Index</li>
            <li>Lab Test Details Index</li>
        </ul>
        <!-- -----------------------------------About Lybrate------------------------------------------------ -->
        <ul type="none">
            <li>Read about Lybrate</li>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Careers</li>
            <li>Mobile Apps</li>
            <li>Blog</li>
            <li>Terms of Use</li>
            <li>Privacy Policy</li>
            <li>Editorial Policy</li>
            <li>Press</li>
        </ul>
        <!-- ---------------------------------------Social------------------------------------------------------------- -->
        <ul type="none" id="social">
            <li>Social</li>
            <li><span class="sfootericon"><i class="fa fa-facebook" aria-hidden="true"></i></span> &ensp;
             <span class="sfootericon"><i class="fa fa-twitter" aria-hidden="true"></i></span> &ensp;
             <span class="sfootericon"><i class="fa fa-linkedin" aria-hidden="true"></i></span> &ensp;
             <span class="sfootericon"><i class="fa fa-youtube-play" aria-hidden="true"></i></span></li>
            <li>Download App</li>
            <!-- <li><img style="height:50px;"src="https://th.bing.com/th/id/OIP.GZhmkG200Ppz-ezObC3JfQHaCi?w=316&h=120&c=7&r=0&o=5&dpr=1.25&pid=1.7"/></li> -->
            <!-- <li><img src="https://th.bing.com/th/id/OIP.LuxzDOhYBzaf-104oL6UsQAAAA?w=180&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"/></li> -->
        </ul>
    </div>
    <div></div>
    <div ><br/>© 2020 Lybrate, Inc. All rights reserved.<br/></div>
    </div>
    <!-- --------------------------------------------------footer Ending--------------------------------------------------------------- -->
   </div>
       <script src="/js/homepage.js"></script>
</body>
</html>
